{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{< core/popover_region }}
    {{$classes}}popover-region-notemyprogress{{/classes}}

    {{$attributes}}
        id="nav-notemyprogress-popover-container"
    {{/attributes}}

    {{$togglelabel}}{{#str}} togglemenu, local_notemyprogress {{/str}}{{/togglelabel}}

    {{$togglecontent}}
        {{#pix}} icon, local_notemyprogress, {{#str}} togglemenu, local_notemyprogress {{/str}} {{/pix}}
    {{/togglecontent}}

    {{$headertext}}{{#str}} pluginname, local_notemyprogress {{/str}}{{/headertext}}

    {{$content}}
        <div class="notemyprogress-navbar-menu">
            {{#items}}
                <a href="{{{url}}}" {{#title}}title="{{.}}"{{/title}}
                   class="notemyprogress-navbar-menu-item
                    {{#active}}notemyprogress-navbar-menu-item-active{{/active}}
                       {{#dimmed}}dimmed_text{{/dimmed}}">
                    {{#name}}{{.}}{{/name}}
                </a>
            {{/items}}
        </div>
    {{/content}}
{{/ core/popover_region }}

{{#js}}
require(['jquery', 'core/popover_region_controller'], function($, controller) {
    var container = $('#nav-notemyprogress-popover-container');
    var controller = new controller(container);
    controller.registerListNavigationEventListeners();
});
{{/js}}
