<div id="sessions-loader">
    <div class="progressbar-notemyprogress">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="work_sessions" class="notemyprogress">
    <v-main>
        <pageheader :pagetitle="strings.title" :helptitle="strings.helplabel" :exitbutton="strings.exitbutton"
                    :helpcontents="get_help_content()" :groups="groups" :courseid="courseid" :userid="userid"></pageheader>
        <v-container pa-8>
            <v-row v-if="loading">
                <span class="mb-1 mt-5 body-1" v-text="strings.graph_generating"></span>
                <v-progress-linear indeterminate color="cyan"></v-progress-linear>
            </v-row>
            <div v-else>
                <v-alert v-if="errors.length > 0" dense outlined type="error" v-text="strings.api_error_network"></v-alert>

                <pagination
                        :pages="pages" :name="strings.pagination_name" :nameseparator="strings.pagination_separator"
                        @changepage="update_interactions" :title="strings.pagination_title"></pagination>

                <v-row>
                    <v-col cols="12" md="6">
                    <input type="radio" id="one" value="Un" v-model="picked">
                    <label for="one">Un</label>
                    <br>
                    <input type="radio" id="two" value="Deux" v-model="picked">
                    <label for="two">Deux</label>
                        <br>

                    </v-col>
                </v-row>
            </div>

        </v-container>
    </v-main>
</v-app>