<div id="sessions-loader">
    <div class="progressbar-notemyprogress">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="student" class="notemyprogress">
    <v-main>
        <pageheader :pagetitle="strings.title" :helptitle="strings.helplabel" :exitbutton="strings.exitbutton"
                    :helpcontents="get_help_content()" :groups="groups" :courseid="courseid" :userid="userid"></pageheader>
        <v-container pa-8>
            <v-row v-if="loading">
                <span class="mb-1 mt-5 body-1" v-text="strings.graph_generating"></span>
                <v-progress-linear indeterminate color="cyan"></v-progress-linear>
            </v-row>
            <div v-else>

                <v-row>
                    <v-col cols="12">
                        <v-card>
                            <v-card-text>
                                <v-row align="center" justify="center">
                                    <v-col cols="12" xs="12" sm="6" md="6" lg="3">
                                        <v-btn text v-on:click="see_profile()" v-text="get_user_fullname()" color="#118AB2" class="light--text"></v-btn>
                                        <p class="pl-3" v-text="user.email"></p>
                                        <p class="pl-3" v-text="get_username()"></p>
                                    </v-col>
                                    <v-col cols="12" xs="12" sm="6" md="6" lg="3" class="text-center">
                                        <v-progress-circular
                                            :rotate="-90"
                                            :size="80"
                                            :width="15"
                                            :value="user.progress_percentage"
                                            color="#118AB2"
                                            >
                                            <span v-text="get_progress_percentage()"></span>
                                        </v-progress-circular>
                                        <small class="mt-2 d-block" v-text="get_progress_message()"></small>
                                    </v-col>
                                    <v-col cols="12" sm="4" lg="2" class="text-center">
                                        <h5><b v-text="strings.inverted_time_title"></b></h5>
                                        <p v-text="convert_time(user.inverted_time)"></p>
                                    </v-col>
                                    <v-col cols="12" sm="4" lg="2" class="text-center">
                                        <h5><b v-text="strings.count_sessions_title"></b></h5>
                                        <p v-text="user.sessions_number"></p>
                                    </v-col>
                                    <v-col cols="12" sm="4" lg="2" class="text-center">
                                        <h5><b v-text="strings.student_grade_title"></b></h5>
                                        <p v-text="get_student_grade()"></p>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>                    
                </v-row>

                <v-row>
                    <v-col cols="12" md="6">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="strings.modules_access_chart_title"></h5>
                            </v-card-title>
                            <v-card-text>
                                <chart
                                        :container="'modules_access'"
                                        :chart="build_modules_access_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('modules_access')">
                                            <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                            <span v-text="strings.about"></span>
                                        </span>
                            </v-card-text>
                        </v-card>
                    </v-col>

                    <v-col cols="12" md="6">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="strings.weeks_sessions_title"></h5>
                            </v-card-title>
                            <v-card-text>
                                <chart
                                        :container="'week_sessions'"
                                        :chart="build_weeks_session_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('weeks_session')">
                                            <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                            <span v-text="strings.about"></span>
                                        </span>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="strings.sessions_evolution_chart_title"></h5>
                            </v-card-title>
                            <v-card-text>
                                <chart
                                        :container="'sessions_evolution'"
                                        :chart="build_sessions_evolution_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('sessions_evolution')">
                                            <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                            <span v-text="strings.about"></span>
                                        </span>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>


                <v-row>
                    <v-col cols="12">
                        <v-card elevation="2">
                            <v-card-title class="justify-center">
                                <h5 v-text="strings.user_grades_chart_title"></h5>
                            </v-card-title>
                            <v-card-text>
                                <chart
                                        :container="'user_grades'"
                                        :chart="build_user_grades_chart()"
                                        :lang="strings.chart"
                                ></chart>
                                <span class="caption" @click="open_chart_help('user_grades')">
                                            <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                            <span v-text="strings.about"></span>
                                        </span>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col sm="12">
                        <modulesform
                                :dialog="modules_dialog"
                                :sections="selected_sections"
                                :strings="strings.modules_strings"
                                @update_dialog="update_modules_dialog"
                        ></modulesform>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col sm="12">
                        <helpdialog
                                :dialog="help_dialog"
                                :title="strings.helplabel"
                                :contents="help_contents"
                                :exit="strings.exitbutton"
                                @update_dialog="update_help_dialog"
                        ></helpdialog>
                    </v-col>
                </v-row>

                <v-row class="justify-center">
                    <span v-text="get_timezone()"></span>
                </v-row>
            </div>

        </v-container>
    </v-main>
</v-app>