<div id="sessions-loader">
    <div class="progressbar-notemyprogress">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="teacher" class="notemyprogress">
    <v-main>
        <pageheader :pagetitle="strings.title" :helptitle="strings.helplabel" :exitbutton="strings.exitbutton"
                    :helpcontents="get_help_content()" :groups="groups" :courseid="courseid" :userid="userid"></pageheader>
        <v-container pa-8>
            
            <v-card elevation="2">
                <v-row>
                    <v-col cols="12" md="12">
                        <v-card-title class="py-0" v-text="indicators.course.shortname"></v-card-title>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-text="strings.teacher_indicators_course_start"></v-list-item-title>
                                <v-list-item-subtitle v-text="indicators.course.startdate"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-text="strings.teacher_indicators_course_end"></v-list-item-title>
                                <v-list-item-subtitle v-text="indicators.course.enddate"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-text="strings.teacher_indicators_course_format"></v-list-item-title>
                                <v-list-item-subtitle v-text="indicators.course.format"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-text="strings.teacher_indicators_course_completion"></v-list-item-title>
                                <v-list-item-subtitle v-text="indicators.course.completion"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                </v-row>
            </v-card>

            <v-row>
                <v-col cols="12" xs="12" sm="6" lg="3">
                    <v-card elevation="2">
                        <v-card-title v-text="indicators.total_students">
                        </v-card-title>
                        <v-card-text v-text="strings.teacher_indicators_students"></v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" xs="12" sm="6" lg="3">
                    <v-card elevation="2">
                        <v-card-title v-text="indicators.total_cms">
                        </v-card-title>
                        <v-card-text v-text="strings.teacher_indicators_modules"></v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" xs="12" sm="6" lg="3">
                    <v-card elevation="2">
                        <v-card-title v-text="indicators.total_weeks">
                        </v-card-title>
                        <v-card-text v-text="strings.teacher_indicators_weeks"></v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" xs="12" sm="6" lg="3">
                    <v-card elevation="2">
                        <v-card-title v-text="get_course_grade()">
                        </v-card-title>
                        <v-card-text v-text="strings.teacher_indicators_grademax"></v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="12" md="6">
                    <v-card elevation="2">
                        <v-card-title class="justify-center">
                            <h5 v-text="strings.teacher_indicators_week_resources_chart_title"></h5>
                        </v-card-title>
                        <v-card-text>
                            <chart
                                    :container="'week_resourcess'"
                                    :chart="build_week_resources_chart()"
                                    :lang="strings.chart"
                            ></chart>
                            <span class="caption" @click="open_chart_help('week_resources')">
                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                <span v-text="strings.about"></span>
                            </span>
                        </v-card-text>
                    </v-card>
                </v-col>

                <v-col cols="12" md="6">
                    <v-card elevation="2">
                        <v-card-title class="justify-center">
                            <h5 v-text="strings.weeks_sessions_title"></h5>
                        </v-card-title>
                        <v-card-text>
                            <chart
                                    :container="'week_sessions'"
                                    :chart="build_weeks_sessions_chart()"
                                    :lang="strings.chart"
                            ></chart>
                            <span class="caption" @click="open_chart_help('weeks_sessions')">
                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                <span v-text="strings.about"></span>
                            </span>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col sm="12">
                    <v-card class="make-border vuetify-datatable" elevation="2">
                        <v-card-title>
                            <h5 v-text="strings.teacher_indicators_student_progress"></h5>
                            <v-spacer></v-spacer>
                            <v-text-field
                                    v-model="search"
                                    append-icon="search"
                                    single-line
                                    hide-details
                            ></v-text-field>
                        </v-card-title>
                        <v-card-text>
                            <v-data-table
                                    :headers="table_headers()"
                                    :items="indicators.table"
                                    item-key="id"
                                    :search="search" dense multi-sort
                                    :items-per-page="10"
                            >
                                <template v-slot:item.id="{ item }">
                                    <img :src="get_picture_url(item.id)" width="35px" heigth="35px" class="round-avatar"/>
                                </template>
                                <template v-slot:item.inverted_time="{ item }">
                                    <span v-text="item.inverted_time_label"></span>
                                </template>
                                <template v-slot:item.progress_percentage="{ item }">
                                    <span class="tooltips">
                                    <v-progress-circular
                                            :rotate="-90"
                                            :size="45"
                                            :width="5"
                                            :value="item.progress_percentage"
                                            color="#118AB2"
                                    >
                                        <span v-text="get_percentage_progress(item.progress_percentage)"></span>
                                    </v-progress-circular>
                                    <span class="tooltiptext" v-text="get_progress_tooltip(item)"></span>
                                </span>
                                </template>

                            </v-data-table>
                            <span class="caption" @click="open_chart_help('progress_table')">
                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                <span v-text="strings.about_table"></span>
                            </span>
                        </v-card-text>

                    </v-card>
                </v-col>
            </v-row>

            <v-row justify="center">
                <v-col sm="12">
                    <helpdialog
                            :dialog="help_dialog"
                            :title="strings.helplabel"
                            :contents="help_contents"
                            :exit="strings.exitbutton"
                            @update_dialog="update_help_dialog"
                    ></helpdialog>
                </v-col>
            </v-row>

            <v-row class="justify-center">
                <span v-text="get_timezone()"></span>
            </v-row>

        </v-container>
    </v-main>
</v-app>